html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../images/background.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	width: 100%;
	height: 100;
	max-width: 1200px;
	margin: 0 auto;
}

#frmFilter {
	width: 100%;
	padding: 20px;
}

.fontDefault {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

select {
	padding: 4px;
	margin: 0 8px;
	border-radius: 4px;
	outline: none;
}

.grid {
	width: 100%;
	overflow: hidden;
	visibility: hidden;
}

.grid-sizer {
	width: 33.3%;
}

.grid-item {
	box-sizing: border-box;
	width: 33.3%;
	padding: 20px;
	transition-duration: 0;
	overflow: hidden;
}

.iconoverlay {
	z-index: 1;
	position: absolute;
	height: 75px;
	width: 60px;
	border-radius: 8px;
	left: 53px;
	top: 8px;
}

.overlayAFF {
	background-color: #e50000;
	color: #FFF;
}

.overlayAFF div {
	width: 100%;
	text-align: center;
	line-height: 90px;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	font-size: 1.25em;
}

.overlayInstagram {
	background-color: #000;
	color: #FFF;
	font-size: 2em;
	line-height: 90px;
}

.overlayTwitter {
	background-color: #000;
	color: #FFF;
	font-size: 2em;
	line-height: 90px;
}

i {
	width: 100%;
	text-align: center;
}

.postcontent {
	z-index: 0;
	box-sizing: border-box;
	width: auto;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 32px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75)
}

a {
	text-decoration: none;
	color: #e50000;
}

.manualimage {
	width: 100%;
	margin-bottom: 8px;
}

.manualtext {
	color: #7f7f7f;
	margin-bottom: 8px;
}

.twitterimagecontainer {
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.twitterimage {
	width: 90px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 8px;
}

.twitterID {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: #787878;
	font-size: 1.2em;
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
}

.twitterID a {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: #787878;
	font-size: 1.2em;
}

.twittertext {
	color: #7f7f7f;
	text-align: center;
	font-size: 1em;
}

.instagramimage {
	width: 100%;
	margin-bottom: 8px;
}

.instagramID {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	margin-bottom: 8px;
	color: #787878;
}

.instagramID a {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
	color: #787878;
}

.instagramtext {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #787878;
}

#loadmore {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.grid-sizer {
		width: 50%;
	}
	
	.grid-item {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
		.grid-sizer {
		width: 100%;
	}
	
	.grid-item {
		width: 100%;
	}
}